#game-blinker-box{
  width:10rem;
  height:10rem;
  background-color:grey;
  margin:1rem;
}
.blink-red{
  background-color: red !important;
  
}
.blink-yellow{
  background-color:rgb(255, 234, 0) !important;
}
.blink-blue{
  background-color:blue !important;
}
#round-status{display:none;}

#gameover{
  display:none;
}
#red{
  width:10rem;
  height:10rem;
  background-color:red;
  margin:1rem;
}
#blue{
  width:10rem;
  height:10rem;
  background-color:blue;
  margin:1rem;
}

#yellow{
  width:10rem;
  height:10rem;
  background-color:yellow;
  margin:1rem;
}
